div {
    background-color: #6E4AED;
    width: 400px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 7px 7px 5px rgb(40, 40, 40);
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: bold;
}

#div1 {
    background-color: #4A5AED;
    width: 500px;
    height: 300px;
}

.menores {
    background-color: #4AC1ED;
    width: 100px;
    height: 100px;
    margin: 30px;
}